<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YOYPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <YOYPlayer.Properties.Settings>
            <setting name="OAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuthExpired" serializeAs="String">
                <value />
            </setting>
            <setting name="CurentFileExpired" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioInfo" serializeAs="String">
                <value />
            </setting>
        </YOYPlayer.Properties.Settings>
    </userSettings>
</configuration>